* {
  box-sizing: border-box;
  font-family:courier,arial,helvetica;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("img/bg.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.con {
  padding: 20px;
  margin: 20px;
}

.column {
  float: left;
  width: 33%;
  padding: 10px;
}

header, nav, section, footer {
    text-align: center;
    padding: 20px;
}
section{
    width:100%;
    padding: 10px;
}

header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.homebutton{
  background-color: #333;
}

input[type=tex]{
  border: none;
  maxlength:2;
  color:white;
}
input[type="tex"]:disabled {
  background: #fff;
}


.lgbtn4{
  width: 60%;
  background-color: #4CAF50;
}
.lgbtn4:hover {
  background-color: #45a049;
}


.lgbtn3 {
  width: 45%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  white-space: normal;
  word-wrap: break-word;
}

.lgbtn3:hover {
  background-color: #45a049;
}


input[type=textt],[type=passwordd], select {
  width: 100%;
  padding: 9px 15px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type='textt']:disabled {
  background: #fff;
  border:0;
  background:transparent;
}

input[type='passwordd']:disabled {
  background: #fff;
  border:0;
  background:transparent;
}



hr.new {
  border-top: 1px solid #E2E2E2;
  align: center;
  width:95%;
}





        button {
            background-color: #FC4F5A;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            transition: background-color 0.3s ease-in-out;
        }

        button:hover {
            background-color: #FC8F99;
        }


input[type=text],[type=password], select {
  width: 100%;
  padding: 9px 15px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


hr.new {
  border-top: 1px solid #E2E2E2;
  align: center;
  width:95%;
}
hr.new2 {
  border-top: 1px solid #E2E2E2;
  align: center;
  width:98%;
}



.w3-card{border-radius: .50rem;background-color: #fff;box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.w3-container{padding:0.01em 16px}


.card2 {
  width: 100%;
  background-color:#fff;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,.16), 0 2px 2px 0 rgba(0,0,0,.12);
  border: 1px solid;
  border-radius: 4px;
  margin:5px;
  padding: 5px;

}

.card2:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}